@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <div class="img-main-message text-center">
            <h3 id="hero-text">@ViewBag.Message</h3>
            <h4>Welcome @ViewBag.DisplayName </h4>
        </div>
    </div>
    <div class="img-wrapper">
        <img class="img-responsive" src="/images/Page_Icon.png" alt="logo">
    </div>
</div>